<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

     <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <property name="url" value="jdbc:sqlserver://localhost:1433;database=SSMDB"/>
        <property name="username" value="sa"/>
        <property name="password" value="123456"/>
    </bean>
    
   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
      <property name="dataSource" ref="myDataSource" />
    </bean>
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource" ref="myDataSource" />
    </bean> 
    
    <aop:config>
       <!--  这是一个切入点，要用AspectJ的表达式语法，选中需要添加事务管理的类和方法 -->
        <aop:pointcut id="allServiceMethods" expression="execution(* ssm.service.*.*(..))"/>
                        <!-- 这是一个切面，要引用 切入点 和 增强 -->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="allServiceMethods"/>
    </aop:config>

   <!--  这是事务增强(通知) -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="remove*" propagation="REQUIRED"/>
            <tx:method name="modify*" propagation="REQUIRED"/>
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    
    <bean id="userAction" class="web.UserAction" scope="prototype">
        <property name="userService" ref="userService"></property>
    </bean>

    <bean id="userService" class="service.UserService">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
      <property name="mapperInterface" value="dao.UserDAO" />
      <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

</beans>